header.frontHeader {
  background-color: var(--gray0);
  padding: 1rem 0;

  .navbar-nav a.nav-link:hover,
  .navbar-nav a.nav-link.active {
    color: var(--primaryDefault);
  }
}

@include media-breakpoint-down(md) {
  header.frontHeader {
    padding: 0;
  }
  .navbar-toggler {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
  }
  #navbarToggler {
    display: block;
    position: fixed;
    right: -100vw;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 80px 40px 40px;
    background-color: var(--gray0);
    opacity: 0;
    transition-duration: 0.3s;

    &.show {
      right: 0;
      opacity: 1;
    }
    a.nav-link {
      text-align: center;
      display: block;
    }
  }
}

.contentAll {
  min-height: 80vh;
  padding-top: 98px;
  padding-bottom: 40px;
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('img/front/bg-wave4.png');
  background-color: var(--gray0);

  @include media-breakpoint-down(md) {
    & {
      background-size: 100% 24px;
      padding-top: 66px;
    }
  }

  //products spec - color
  .colorSquare {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin: 0 auto 4px;
    border: 1px solid var(--gray2);
  }

  //swiper style for contentAll
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--primaryDefault);
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: var(--gray0);
    opacity: 1;

    &-active {
      width: 16px;
      height: 16px;
      background: var(--primaryDark);
      border: 2px solid var(--primaryDark);
      margin-bottom: -2px !important;
    }
  }

  //title style for contentAll
  .titleUnderline {
    position: relative;
    padding: 0 16px;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: 2;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 12px;
      border-radius: 30px;
      background: var(--secondaryLight);
    }
    & span {
      position: relative;
      z-index: 3;
    }
  }

  //breadcrumb for contentAll
  .breadcrumb {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 24px 0 48px;

    @media (max-width: 640px) {
      & {
        margin: 16px 0 24px;
      }
    }

    .breadLink {
      display: flex;
      align-items: center;
      color: var(--secondaryDark);

      &:hover {
        color: var(--primaryDefault);
      }

      .material-icons-outlined:after,
      &:hover .material-icons-outlined:after {
        display: inline-block;
        content: 'keyboard_arrow_right';
        width: 24px;
        height: 24px;
        color: var(--secondaryDark);
      }

      &:last-child {
        color: var(--primaryDark);
      }
    }
  }

  //productCard for contentAll
  .productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    border: 1px solid var(--gray0);
    background-color: var(--white);
    overflow: hidden;
    transition-duration: 0.3s;

    &:hover {
      border: 1px solid var(--primaryDefault);
    }

    .tagBox {
      position: absolute;
      z-index: 2;
      left: 12px;
      top: 16px;
      display: flex;
      max-width: 200px;
      flex-wrap: wrap;

      .tag {
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 4px 8px;
        background-color: var(--primaryDark);
        color: var(--gray0);
        margin-right: 8px;
        margin-bottom: 4px;
        line-height: 0.875rem;

        .material-icons {
          color: var(--gray0);
        }

        &.tag-newest {
          background-color: var(--primaryPestel);
          color: var(--primaryDark);

          .material-icons {
            color: var(--primaryDark);
          }
        }
        &.tag-hottest {
          background-color: var(--primaryDark);
        }
        &.tag-cheaper {
          background-color: var(--primaryDefault);
        }
      }
    }
    .favoriteBtn {
      position: absolute;
      z-index: 2;
      right: 12px;
      top: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: var(--gray0);

      &:after {
        display: inline-block;
        content: 'favorite_border';
        color: var(--secondaryDark);
      }
      &.active:after {
        content: 'favorite';
        color: var(--primaryDefault);
      }
    }
    .img-wrapper {
      position: relative;
      z-index: 1;
      overflow: hidden;
      img {
        max-height: 230px;
        object-fit: cover;
        transition: transform 0.5s ease;
      }
    }
    &:hover .img-wrapper img {
      transform: scale(1.1);
    }

    .card-body {
      display: flex;
      flex-direction: column;
      padding: 0 12px;
      gap: 4px;
      min-height: 76px;

      .card-title {
        color: var(--secondaryDark);
      }
      .card-text {
        color: var(--gray3);
        min-height: 48px;
      }
      .checkedStyle {
        .form-check-input {
          cursor: pointer;
          outline: none;
          box-shadow: none;

          &:checked[type='radio'] {
            display: block !important;
            position: absolute;
            margin-left: 0;
            margin-top: 0;
            --bs-form-check-bg-image: none;
            border: 0;
            background: none;
            outline: none;
          }
          &:checked[type='radio']::before {
            content: 'check'; //Material Icon
            font-family: 'Material Icons';
            font-size: 14px;
            display: inline-block;
            color: var(--gray0);
            margin-left: 3px;
          }
        }

        .form-check-label {
          cursor: pointer;
          outline: none;
          box-shadow: none;
        }
      }
    }
    .card-footer {
      display: flex;
      justify-content: space-between;
      padding: 0 12px 12px;
    }
    &:hover .card-footer button.btn {
      background-color: var(--primaryDefault);
      color: var(--gray0);
    }
  }
} //end of contentAll

//---pageStyle ---- Home.jsx 首頁
section.homePage {
  //swiper  - Home MainBanner
  .swiperBanner {
    position: relative;

    .detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--gray0);
      display: flex;
      flex-direction: column;
      gap: 24px;

      .mainTitle {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
          margin: 0;
        }
      }

      .searchBar {
        max-width: 568px;
        display: flex;

        .input {
          border-radius: 8px 0 0 8px;
          border-right: 0;
        }
        .btn {
          display: flex;
          align-content: center;
          border-radius: 0 8px 8px 0;
          padding: 12px;
        }
      }
    }
  }

  @media (max-width: 540px) {
    .swiperBanner .detail {
      bottom: 8%;
      top: auto;
      transform: translate(-50%, -5%);
    }
  }

  //swiper  - Home product swiper
  //限時優惠
  .discountSwiper .productCard img {
    max-height: 180px;
    object-fit: cover;
  }
  @include media-breakpoint-down(md) {
    .discountSwiper {
      padding-right: 20%;
    }
  }

  //bg-wave
  .bg-wave {
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  @include media-breakpoint-down(md) {
    .bg-wave {
      background-size: 100% 24px;
    }
  }
  .bg-wave1 {
    background-image: url('img/front/bg-wave1.png');
  }
  .bg-wave2 {
    background-image: url('img/front/bg-wave2.png');
  }

  //首頁：熱門產品、最新產品-swiper
  .product-gallery {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: row;

    .main-swiper {
      flex: 1;
      width: 100%;
      max-height: 416px;

      .main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .thumbs-swiper {
      width: 196px;
      max-height: 416px;
      display: flex;
      flex-direction: column;

      .thumb-image {
        width: 100%;
        max-height: 122px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0.65;
      }
      .swiper-slide-thumb-active .thumb-image {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .product-gallery {
      gap: 12px;
      flex-direction: column;

      .main-swiper {
        max-width: 100%;
        height: auto;
      }
      .thumbs-swiper {
        width: 100%;
        height: auto;
        flex-direction: row;
        overflow: hidden;
      }
    }
  }
} //end of homePage

//---pageStyle ---- ProductLayout.jsx 產品Layout
section.productListPage {
  background-color: var(--gray0);

  .swiperBanner {
    position: relative;

    .detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--gray0);
      display: flex;
      flex-direction: column;
      gap: 8px;

      .mobileMaxWidth {
        max-width: 230px;
        margin: 0 auto;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .categoryNavRWD {
      overflow-x: auto; /* 啟用水平滾動 */
      white-space: nowrap; /* 防止換行 */
      -webkit-overflow-scrolling: touch; /* 讓手機滑動更流暢 */

      &::-webkit-scrollbar {
        display: none; /* 隱藏滾動條 */
      }
    }
  }
  .tagList .badge {
    background-color: var(--gray1);
  }
  ul.categoryNav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 200px;
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
      & {
        max-width: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
      }
    }

    button.categoryBtn {
      display: flex;
      width: 100%;
      align-content: center;
      gap: 12px;
      padding: 12px;
      color: var(--primaryDefault);
      background-color: var(--gray0);
      border-radius: 12px;
      border: 0;
      @include media-breakpoint-down(md) {
        & {
          gap: 8px;
          padding: 8px;
        }
      }

      &.active,
      &:hover {
        background-color: var(--primaryPestel);
        border: 0;
      }
    }
  }

  .searchBar {
    max-width: 200px;
    display: flex;

    @include media-breakpoint-down(md) {
      & {
        max-width: 100%;
      }
    }

    .input {
      border-radius: 8px;
    }
    &.active .input {
      border-radius: 8px 0 0 8px;
      border-right: 0;
    }
    .btn {
      display: none;
      align-content: center;
      border-radius: 0 8px 8px 0;
      padding: 8px;
      opacity: 0;
    }
    &.active .btn {
      display: flex;
      opacity: 1;
    }
  }
} //end of productList

//---pageStyle ---- ProductDetail.jsx 單一產品介紹頁
section.productDetail {
  //單一產品介紹頁-swiper
  .productDetail-gallery {
    position: relative;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 526px;

    @include media-breakpoint-only(md) {
      & {
        max-width: 350px;
      }
    }
    @include media-breakpoint-down(lg) {
      & {
        max-width: auto;
        gap: 12px;
      }
    }

    .favoriteBtn {
      position: absolute;
      right: 12px;
      top: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: var(--gray0);
      z-index: 2;

      &:hover {
        cursor: pointer;
      }

      &:after {
        display: inline-block;
        content: 'favorite_border';
        color: var(--secondaryDark);
      }
      &.active:after {
        content: 'favorite';
        color: var(--primaryDefault);
      }
    }

    .main-swiper {
      max-width: 526px;
      max-height: 363px;

      .main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .thumbs-swiper {
      width: 100%;
      height: 120px;

      .thumb-image {
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0.65;
        object-fit: cover;
      }
      .swiper-slide-thumb-active .thumb-image {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .productDetail-gallery {
      .main-swiper {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .detailTagBox {
    display: flex;
    gap: 8px;

    .tag {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 4px 8px;
      background-color: var(--primaryDark);
      color: var(--gray0);
      line-height: 0.875rem;

      .material-icons {
        color: var(--gray0);
      }
      &.tag-newest {
        background-color: var(--primaryPestel);
        color: var(--primaryDark);

        .material-icons {
          color: var(--primaryDark);
        }
      }
      &.tag-hottest {
        background-color: var(--primaryDark);
      }
      &.tag-cheaper {
        background-color: var(--primaryDefault);
      }
    }
  }

  .checkedStyle {
    .form-check-input {
      cursor: pointer;
      outline: none;
      box-shadow: none;

      &:checked[type='radio'] {
        display: block !important;
        position: absolute;
        margin-left: 13px;
        margin-top: 0;
        --bs-form-check-bg-image: none;
        border: 0;
        background: none;
        outline: none;
      }
      &:checked[type='radio']::before {
        content: 'check'; //Material Icon
        font-family: 'Material Icons';
        font-size: 16px;
        display: inline-block;
        color: #fff;
      }
    }

    .form-check-label {
      cursor: pointer;
      outline: none;
      box-shadow: none;
    }
  }
  .qtySelectBox {
    align-items: center;

    .btn-increase,
    .btn-decrease {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-content: center;
    }
    .btn-increase {
      border-radius: 8px 0 0 8px;
    }
    .btn-decrease {
      border-radius: 0 8px 8px 0;
    }
    .qtyValue {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 154px;
      height: 40px;
      cursor: auto;
      font-weight: bold;
      color: var(--gray4);
      border-top: 1px solid var(--gray2);
      border-bottom: 1px solid var(--gray2);
      @include media-breakpoint-down(sm) {
        & {
          width: 100%;
        }
      }
    }
  }
  .tabBox {
    margin-top: 64px;
    margin-bottom: 120px;
    @include media-breakpoint-down(md) {
      & {
        margin-top: 48px;
        margin-bottom: 60px;
      }
      .tab-content.contentBox {
        padding: 24px 16px;
      }
    }

    .specTable {
      th {
        border: 1px solid var(--gray2);
        color: var(--gray4);
        text-align: center;
      }
      td {
        border: 1px solid var(--gray2);
        color: var(--secondaryDark);
      }
    }
  }

  .hottestSwiper {
    @include media-breakpoint-down(md) {
      & {
        padding-right: 20%;
      }
    }
    .productCard img {
      max-height: 180px;
      object-fit: cover;
    }
    //swiper style for contentAll
    .swiper-button-prev,
    .swiper-button-next {
      color: var(--secondaryDark);
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 16px;
    }
  }
} //end of productDetail

//---pageStyle ---- About.jsx 關於我們
section.aboutPage {
  background-color: var(--gray0);
  //swiper  - aboutPage Banner
  .swiperBanner {
    position: relative;

    .detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--gray0);
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  ul.timeLine {
    padding: 36px;
    background-color: var(--white);
    border: 8px;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.04);

    @media (max-width: 640px) {
      & {
        padding: 12px;
      }
    }

    li {
      position: relative;
      display: flex;
      gap: 24px;
      //align-items: center;
      padding-bottom: 36px;
      //overflow: hidden;

      &:after {
        display: inline-block;
        content: '';
        width: 1px;
        height: 100%;
        border-left: 1px solid var(--primaryLight);
        position: absolute;
        left: 112px;
        top: 55%;
      }
      &:last-of-type:after {
        display: none;
      }
      @media (max-width: 640px) {
        & {
          gap: 16px;
        }
        &:after {
          left: 104px;
          top: 55%;
        }
      }

      .timeLineYear {
        width: 64px;
        min-width: 64px;
        text-align: center;
        align-self: center;
      }
      .con {
        align-self: center;
      }
      .line-box {
        display: flex;
        align-content: center;

        .iconBox {
          display: inline-flex;
          justify-content: center;
          align-self: center;
          width: 48px;
          min-width: 48px;
          height: 48px;
          border-radius: 100%;
          background-color: var(--primaryPestel);
          color: var(--primaryDark);
        }
      }
    }
  }
} //end of aboutPage

//---pageStyle ---- Cart.jsx 購物車
section.cartList {
  .cartTable {
    .deleteBtn {
      display: inline-flex;
      justify-content: center;
    }

    @include media-breakpoint-down(lg) {
      tr {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 4px 12px;
        border-radius: 12px;
        background-color: var(--primaryPestel);
        margin-bottom: 40px;

        td {
          display: flex;
          align-items: center;
          background-color: var(--primaryPestel);
          border-color: var(--white);

          .deleteBtn {
            position: absolute;
            right: 12px;
            top: 32px;
          }

          &:last-child {
            border: 0;
            margin: 0 !important;
          }

          &:before {
            display: inline-flex;
            content: attr(data-label);
            font-weight: bold;
            color: var(--secondaryDark);
            font-size: 14px;
            margin-right: 12px;
            width: 40px;
          }

          &:first-child:before {
            width: 0;
          }
        }
      }
      tr.nodata {
        border-radius: 0;
        background: none;
        border-top: 1px solid var(--gray1);
        border-bottom: 1px solid var(--gray1);

        & td {
          background: none;
          display: flex;
          justify-content: center;
        }

        & td:before {
          width: 0;
        }
      }
    }
  }
} //end of cartList

section.orderInfo {
  .creditInfo {
    background: var(--primaryPestel);
    padding: 16px;
    border-radius: 16px;
  }
} //end of orderInfo

//---pageStyle ---- Favorite.jsx 收藏清單
section.favoritePage {
  background-color: var(--gray0);
  //swiper  - favoritePage Banner
  .swiperBanner {
    position: relative;

    .detail {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--gray0);
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

footer.frontFooter {
  padding: 48px 0;
  background-color: var(--primaryPestel);

  .navbar-nav a.nav-link:hover {
    color: var(--primaryDefault);
  }

  & .copyright {
    color: var(--gray2);
  }
}
