.adminBody {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .adminHeader {
    width: 260px;
    background: var(--white);
    height: 100vh;
    border-right: 1px solid var(--gray1);

    a.nav-link {
      display: inline-block;
      color: var(--gray4);

      &:hover,
      &.active {
        color: var(--primaryDefault);
        background: var(--primaryPestel);
      }
      .material-icons {
        color: var(--gray2);
        font-size: 16px;
      }
      &:hover .material-icons,
      &.active .material-icons {
        color: var(--primaryDefault);
      }
    }
  } //.adminHeader End

  .adminContent {
    position: absolute;
    left: 260px;
    top: 0;
    height: 100vh;
    width: calc(100vw - 260px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #efefef;

    section {
      padding: 20px;
    }

    table.adminTable tbody tr:hover td {
      transition-duration: 0.3s;
      background-color: var(--gray1);
    }
    .adminColorSquare {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: 1px solid var(--gray2);
    }
  } //.adminContent End
} //.adminBody End

// .images {
//   height:150px;
//   width:150px;
//   border-radius: 8px;
// }
